<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if formCSS}}
  <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
</head>

<body class="position-relative">
  <div class="overlay"></div>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">家庭記帳本</a>
    <a href="/users/logout" class="nav-link btn btn-outline-light">登出</a>
  </nav>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  {{#if formValidateJS}}
  <script src="/javascripts/form-validation.js"></script>
  {{/if}}
</body>

</html>