<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if formCSS}}
  <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
  {{#if errorCSS}}
  <link rel="stylesheet" href="/stylesheets/error.css">
  {{/if}}
</head>

<body class="position-relative">
  <div class="overlay"></div>
  <nav class="navbar navbar-dark bg-dark">
    {{#if user}}
    <a href="/" class="navbar-brand">{{user.name}}の家庭記帳本</a>
    <a href="/users/logout" class="nav-link btn btn-outline-light">登出</a>
    {{else}}
    <a href="/" class="navbar-brand">家庭記帳本</a>
    <a href="/users/login" class="nav-link btn btn-outline-light">登入</a>
    {{/if}}
  </nav>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  {{#if formValidateJS}}
  <script src="/javascripts/form-validation.js"></script>
  {{/if}}
  {{#if showChart}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script>
    var ctx = document.getElementById('total-amount-chart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['家居物業', '交通出行', '休閒娛樂', '餐飲食品', '其他'],
        datasets: [{
          label: '$ ',
          data: [{{ chartData }}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(80, 33, 141, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(40, 167, 69, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(80, 33, 141, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(40, 167, 69, 1)',
        ],
        borderWidth: 1
      }]
    },
      options: {
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            ticks: {
              display: false
            },
            gridLines: {
              display: false
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines: {
              display: false
            }
          }]
        }
      }
        });
  </script>
  {{/if}}
</body>

</html>