<section class="error-container mt-5 position-relative p-3 shadow">
  <div class="rounded w-100 h-100 inner-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3"><i class="fas fa-exclamation-triangle"></i></h1>
    <h3>Page Not Found</h3>
  </div>
</section>