<div class="form-container position-relative shadow">
  <form action="/users/login" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">*必填</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">登入</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <!--From input-->
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="email" class="col-3 col-form-label text-right">電子信箱*</label>
      <input type="email" name="email" id="email" class="col-9 form-control" value="{{user.email}}"
        pattern="^\S+@\w+\.\w+$" required>
      <div class="valid-feedback col-9 p-0">
        格式正確！
      </div>
      <div class="invalid-feedback col-9 p-0">
        電子信箱必填，格式須為：xx@xx.xx
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="password" class="col-3 col-form-label text-right">登入密碼*</label>
      <input type="password" name="password" id="password" class="col-9 form-control" value="{{user.password}}"
        pattern="^\S{8,12}$" required>
      <div class="valid-feedback col-9 p-0">
        格式正確！
      </div>
      <div class="invalid-feedback col-9 p-0">
        密碼是 8-12 位不含空白的數字、符號、英文字母！
      </div>
    </div>
    <div class="row ml-1 mr-4 mt-0 justify-content-end">
      <div class="col-9 p-0 mt-0">
        <input type="submit" value="登入" class="btn btn-info half-column">
        <a href="/auth/facebook" class="btn half-column facebook-btn"><i class="fab fa-facebook-f pr-2"></i>臉書登入</a>
      </div>
    </div>
    <hr class="mx-4">
    <div class="row ml-1 mr-4 mt-0  justify-content-end">
      <div class="col-3 col-form-label">其他選擇:</div>
      <div class="col-9 p-0 mt-0 d-flex justify-content-between align-items-center">
        <a href="/users/register" class="btn btn-sm btn-secondary half-column"><i
            class="fas fa-user-plus pr-2"></i>註冊帳號</a>
        <a href="/users/reset" class="btn btn-sm btn-secondary half-column"><i class="fas fa-question pr-2"></i>忘記密碼</a>
      </div>
    </div>
  </form>
</div>