.error-container {
  max-width: 700px;
  height: 500px;
  margin: 50px auto;
  border-radius: 5px;
  background: #5D5C61;
}

.error-container .inner-container {
  background: #D0D0D0;
  color: #5D5C61;
  text-shadow: 1px 1px 1px #7A7A7A;
}