.form-container {
  max-width: 480px;
  margin: 50px auto;
  background: #5D5C61;
  border-radius: 5px; 
  padding: 10px;
}

.form-container form {
  padding: 25px 5px;
  background: #D0D0D0;
  color: #5D5C61;
}

.half-column {
  width: 49%;
}

.facebook-btn {
  background: #3b5998;
  color: white;
}

.facebook-btn:hover {
  background: #293e6a;
  color: white;
}