.form-container {
  max-width: 480px;
  margin: 50px auto;
  background: #5D5C61;
  border-radius: 5px; 
  padding: 10px;
}

.form-container form {
  padding: 25px 5px;
  background: #D0D0D0;
  color: #5D5C61;
}