body {
  background-image: url('https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .3;
}